@tailwind base;
@tailwind components;
@tailwind utilities;

.cuadro-applicant{
    margin-top: 70px;
}

.name-applicant{
    margin-top: 100px;
    text-align: center;
    font-size: 27px;
}

.img-background{
    background-image: url('img/fondomenu.jpg');
    background-size: cover; /* Opciones: cover, contain, auto */
    background-repeat: no-repeat; /* Opciones: repeat, no-repeat, repeat-x, repeat-y */
    background-position: center center; /* Opciones: left top, left center, left bottom, right top, right center, right bottom, center top, center center, center bottom */
  }